.first-section {
    min-height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.header-messages {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2%;
    padding: 2%;
}

.header-messages:hover {
    background-color: rgba(192, 192, 192, 0.164);
    border-radius: 10px;
    cursor: pointer;
}

.my-card {
    margin-top: 5%;
    width: 60%;
    position: relative;
    left: 5%;
}

.user-avatar-infos {
    display: flex;
    align-items: center;
    width: 50%;
}

.user-avatar-infos img {
    height: 50px;
}

.message-hour {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 60%;
}

.names {
    font-weight: bolder;
    color: rgb(255, 173, 0);
}

.hours {
    font-size: 12px;
    color: silver;
}

.empty-messenger{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.empty-messenger i{
    font-size: 50px;
    color: rgb(255, 173, 0);
}