.logo-img img {
    padding: 1%;
    height: 50px;
    width: 50px;
}

.alert-register {
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
}

.copy-bottom {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copy-bottom h5 {
    font-size: 14px;
    color: white;
    padding-left: 1%;
}

.name-company {
    margin-top: 1%;
    width: 100%;
    color: silver;
}

.termsothers {
    display: flex;
    width: 100%;
}

.alert-success {
    position: absolute;
    right: 2%;
    top: 5%;
}

.txt5 {
    text-align: center;
}

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.alert-danger {
    margin-top: 2%;
    color: #7f231c;
    background-color: #fdd9d7;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.my-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-spinner img {
    width: 30%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    margin: 0 2% 0 2%;
}

footer a {
    color: rgb(236, 106, 0);
    font-weight: bolder;
}

.img-function {
    display: flex;
    align-items: center;
    width: 12%;
}

.img-function img {
    width: 30px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}